# CASE STUDY ON TESTING OF HYPOTHESIS

In [3]:
import pandas as pd
import numpy as np

In [4]:
df_sales = pd.read_csv(r"C:\Users\USER\Downloads\Sales_add.csv")

# a. Hypothesis testing to check if there is an increase in sales after digital marketing

In [5]:
df_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1012.0+ bytes

In [5]:
df_sales.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [6]:
from scipy.stats import ttest_rel

before_digital_marketing = df_sales['Sales_before_digital_add(in $)']
after_digital_marketing = df_sales['Sales_After_digital_add(in $)']


t_stat, p_value = ttest_rel(before_digital_marketing, after_digital_marketing)


if p_value < 0.05:  
    print("Reject the null hypothesis. There is a significant increase in sales.")
else:
    print("Fail to reject the null hypothesis. There is no significant increase in sales.")

Reject the null hypothesis. There is a significant increase in sales.

# 2.b.The company needs to check whether there is any dependency between the features “Region” and “Manager”.

In [7]:
from scipy.stats import chi2_contingency


contingency_table = pd.crosstab(df_sales['Region'], df_sales['Manager'])


chi2, p, _, _ = chi2_contingency(contingency_table)

if p < 0.05:  
    print("Reject the null hypothesis. There is a significant dependency between Region and Manager.")
else:
    print("Fail to reject the null hypothesis. There is no significant dependency between Region and Manager.")

Fail to reject the null hypothesis. There is no significant dependency between Region and Manager.