# ASSIGNMENT- 1 STATISTICS

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data=pd.read_csv(r"C:\Users\USER\Downloads\Students_Performance.csv")

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [4]:
data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some high school,free/reduced,none,0,17,10
1,female,group B,high school,free/reduced,none,8,24,23
2,female,group B,some high school,free/reduced,none,18,32,28
3,female,group B,some college,standard,none,11,38,32
4,female,group C,some college,free/reduced,none,22,39,33

# a. Find out how many males and females participated in the test.

In [6]:
gender_counts = data["gender"].value_counts()
print(gender_counts)

female    518
male      482
Name: gender, dtype: int64

# b. What do you think about the students' parental level of education?

In [10]:
parental_education_counts = data['parental level of education'].value_counts()
print("\nParental Education Counts:")
print(parental_education_counts)

Parental Education Counts:
some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64

# c.Who scores the most on average for math, reading and writing based on i. Gender

In [11]:
gender_avg_scores = data.groupby('gender').mean()[['math score', 'reading score', 'writing score']]
print("\nAverage Scores by Gender:")
print(gender_avg_scores)

Average Scores by Gender:
        math score  reading score  writing score
gender
female   63.376448      72.590734      72.467181
male     68.821577      65.545643      63.446058

C:\Users\USER\AppData\Local\Temp\ipykernel_18192\3185096877.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gender_avg_scores = data.groupby('gender').mean()[['math score', 'reading score', 'writing score']]

# c.ii Who scores the most on average for math, reading and writing based on Test preparation course

In [14]:
test_prep_avg_scores = data.groupby('test preparation course').mean()[['math score', 'reading score', 'writing score']]
print("\nAverage Scores by Test Preparation Course:")
print(test_prep_avg_scores)

Average Scores by Test Preparation Course:
                         math score  reading score  writing score
test preparation course
completed                  69.96648      74.175978      74.684358
none                       63.78972      66.417445      64.457944

C:\Users\USER\AppData\Local\Temp\ipykernel_18192\3879680042.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  test_prep_avg_scores = data.groupby('test preparation course').mean()[['math score', 'reading score', 'writing score']]

# d.(i) The scoring variation for math, reading and writing based on Gender

In [17]:
gender_std_scores = data.groupby('gender').std()[['math score', 'reading score', 'writing score']]
print("\nStandard Deviation of Scores by Gender:")
print(gender_std_scores)

Standard Deviation of Scores by Gender:
        math score  reading score  writing score
gender
female   16.029928      14.411018      14.844842
male     14.556411      14.149594      14.227225

C:\Users\USER\AppData\Local\Temp\ipykernel_18192\1432729079.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.std is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gender_std_scores = data.groupby('gender').std()[['math score', 'reading score', 'writing score']]

# d.(ii) The scoring variation for math, reading and writing based on Test preparation course.

In [16]:
test_prep_std_scores = data.groupby('test preparation course').std()[['math score', 'reading score', 'writing score']]
print("\nStandard Deviation of Scores by Test Preparation Course:")
print(test_prep_std_scores)

Standard Deviation of Scores by Test Preparation Course:
                         math score  reading score  writing score
test preparation course
completed                 14.521847      13.537572      13.236412
none                      15.705689      14.608896      15.041667

C:\Users\USER\AppData\Local\Temp\ipykernel_18192\990143958.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.std is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  test_prep_std_scores = data.groupby('test preparation course').std()[['math score', 'reading score', 'writing score']]

# e. Give bonus points to the top 25% of students based on math score

In [19]:
top_25_percent = data['math score'].quantile(0.75)
data['bonus points'] = 0  
data.loc[data['math score'] >= top_25_percent, 'bonus points'] = 5

In [20]:
top_10_math_students = data.sort_values(by='math score', ascending=False).head(10)
print("Top 10 Students in Math:")
print(top_10_math_students)

Top 10 Students in Math:
     gender race/ethnicity parental level of education         lunch  \
999    male        group E           bachelor's degree      standard
996    male        group A                some college      standard
515  female        group E                some college      standard
517  female        group E          associate's degree      standard
516  female        group E           bachelor's degree      standard
997    male        group D                some college      standard
998    male        group E          associate's degree  free/reduced
995    male        group E                some college      standard
513  female        group E           bachelor's degree      standard
514  female        group E                 high school      standard

    test preparation course  math score  reading score  writing score  \
999               completed         100            100            100
996               completed         100             96             86
515                    none         100             92             97
517                    none         100            100            100
516                    none         100            100            100
997               completed         100             97             99
998               completed         100            100             93
995               completed          99             87             81
513               completed          99            100            100
514                    none          99             93             90

     bonus points
999             5
996             5
515             5
517             5
516             5
997             5
998             5
995             5
513             5
514             5